<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
</head>
<style>
    table#t01 tr:nth-child(even) {
        background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
        background-color: #fff;
    }
    table#t01 th {
        color: white;
        background-color: black;
    }
</style>
<script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous">
</script>
<body>
    <form action="/explore" method="POST">
        <h1>Explore</h1>
        <div>
            <label for="bname">Building Name: </label>
            <select name="bname" id="bname">
                <%  var buildingName = JSON.parse(buildingName);
                    for (let i = 0; i < buildingName.length; i++) { %>
                    <option value="<%= buildingName[i] %>"><%= buildingName[i] %></option> 
                <% } %>
            </select>
        </div>
        <div>
            <label for="sname">Station Name: </label>
            <select name="sname" id="sname">
                <%  var stationName = JSON.parse(stationName);
                    for (let i = 0; i < stationName.length; i++) { %>
                    <option value="<%= stationName[i] %>"><%= stationName[i] %></option> 
                <% } %>    
            </select>
        </div>
        <div>
            <label for="btag">Building Tag (contain): </label>
            <input type="text" name="btag" id="btag">
        </div>
        <div>
            <label for="ftname">Food Truck Name (contain): </label>
            <input type="text" name="ftname" id="ftname">
        </div>
        <div>
            <label for="food">Food (contain):</label>
            <input type="text" name="food" id="food">
        </div>
        <button type="submit">Filter</button>
    </form>
    <table id='t01'>
        <tr>
            <th>Station</th>
            <th>Building</th>
            <th>Food Truck(s)</th>
            <th>Food(s)</th>
        </tr>
        <tbody id="myTable">

        </tbody>
    </table>
    <script>
        var arr = <%- array %>;
        buildTable(arr);
        function buildTable(data) { 
            var table = document.getElementById('myTable');
            for (let i = 0; i < data.length; i++) {
                var row = 
                    `<tr>
                        <td><label><input type="radio" name="sel_sname" id="sel_sname" value="${data[i].sname}">${data[i].sname}</label></td>
                        <td>${data[i].bname}</td>
                        <td>${data[i].foodtrucks}</td>
                        <td>${data[i].foods}</td>
                    <tr>`   
                table.innerHTML += row;
            }
        }
    </script>
    <form action="/backtohome" method="POST">
        <button type="submit">Back</button>
    </form>


    <form action="/selectCurrLocation" method="POST" id="newform">
    <input type="hidden" name="selected" id="selected" value="">
    <script>
        function clicked() {
            var ele = document.getElementsByName("sel_sname");
            for (let i = 0; i < ele.length; i++) {
                if (ele[i].checked) {
                    document.getElementById('selected').value = ele[i].value;
                }
            }
            document.getElementById("newform").submit();
        }
    </script>
    <button type="button" onclick="clicked()">Select As Current Location</button> 
    </form>





</body>
</html>