<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Building</title>
</head>
<body>
    <form action="/upDateBuilding" method="POST">
        <h1>Update Building</h1>
        <div>
            <label for="bname">Name: </label>
            <input type="text" name="bname" id="bname" value="">
        </div>
        <div>
            <label for="description">Description: </label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
        </div>
        <div>
            <div id="newElementID">
                <div id ="0">
                    <label for="btag">Tags</label>
                    <input type="text" name="btag" id="btag0">        
                    <button type="button" onclick="addtag()" id="add0" value="0">Add</button>
                    <button type="button" onclick="deletetag(this)" id="delete0" value="0">Delete</button>
                </div>
            </div>
        </div>
        <script>
            var tags = [];
            var counter = 0;
            function addtag() {
                tags.push(document.getElementById(`btag${counter}`).value);
                counter++;
                var newtextbox = document.createElement('div');
                newtextbox.setAttribute("id", `${counter}`);
                newtextbox.innerHTML = `<input type='text' id='btag${counter}'> <button type="button" onclick="addtag()" id="add${counter}" value=${counter}>Add</button> <button type="button" onclick="deletetag(this)" id="delete${counter}" value=${counter}>Delete</button>`;
                document.getElementById("newElementID").appendChild(newtextbox);
                document.getElementById("tags").value = JSON.stringify(tags);
            }
            function deletetag(index) {
                tags.splice(index.value, 1);
                var elem = document.getElementById(`${index.value}`);
                elem.parentNode.removeChild(elem);
                counter--;
                document.getElementById("tags").value = JSON.stringify(tags);
            }
        </script>
        <input type="hidden" id="tags" name="tags" value="">
        <script>
            var array = <%- tags %>;
            var bu_name = <%- b_name %>;
            var bu_description = <%- b_description %>;
            document.getElementById('bname').value = bu_name;
            document.getElementById('description').value = bu_description;
            document.getElementById('btag0').value = array[0];
            for (let i = 1; i < array.length; i++) {
                addtag();
                document.getElementById(`btag${i}`).value = array[i];
            }
            addtag();
        </script>
        <input type="hidden" name="selected" id="selected" value="<%= b_name %>">
        <input type="hidden" name="old_tag" id="old_tag" value="<%= tags %>">
        <button type="submit">Update</button>
    </form>
    <form action="/backtomanageBS" method="POST">
        <button type="submit">Back</button>
    </form>
</body>
</html>